<header>
    <nav>
        <a href="/">ArtHive</a>
        <ul>
            <li><a href="/authors">Authors</a></li>
            <li><a href="/authors/new">Add Author</a></li>
            <li><a href="/writtenWorks">WrittenWorks</a></li>
            <li><a href="/writtenWorks/new">Add WrittenWorks</a></li>
        </ul>
    </nav>
</header>