<h2>Recently Added</h2>

<div>
    <% writtenWorks.forEach(written=>{ %>
        <a href="/writtenWorks/<%= written.id %>">
            <img height="150" width="100" src="<%= written.coverImagePath %>" alt="Written work image">
        </a>
       <% console.log(written.coverImagePath) %>
   <% }) %> 
   </div>
   