<h2>Recently Added</h2>

<div>
    <% writtenWorks.forEach(written=>{ %>
       <img height="150" width="100" src="<%= written.coverImagePath %>" alt="">
       <% console.log(written.coverImagePath) %>
   <% }) %> 
   </div>
   